# API Key của ipinfo.io để định vị IP
IPINFO_API_TOKEN=your_ipinfo_api_token_here

# API Key của Google Gemini
# Lấy từ https://aistudio.google.com/
GOOGLE_API_KEY=your_gemini_api_key_here

# MongoDB Atlas Connection URI
# Thay thế <username> và <password> bằng thông tin Database User của bạn
# Ví dụ: mongodb+srv://myuser:mypassword@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=

# Thông tin đăng nhập cho trang quản lý IP Logs
ADMIN_USERNAME=your_admin_username_here
ADMIN_PASSWORD=your_admin_password_here

# Port mà ứng dụng sẽ chạy trên Render.com hoặc trong môi trường phát triển cục bộ.
PORT=3000
